@model InventariosEquipos.Web.Models.EquipoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Equipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="CodigoCalidad" class="control-label"></label>
                <input asp-for="CodigoCalidad" class="form-control" />
                <span asp-validation-for="CodigoCalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Referencia" class="control-label"></label>
                <input asp-for="Referencia" class="form-control" />
                <span asp-validation-for="Referencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoAsignado" class="control-label"></label>
                <input asp-for="EmpleadoAsignado" class="form-control" />
                <span asp-validation-for="EmpleadoAsignado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreEmpleado" class="control-label"></label>
                <input asp-for="NombreEmpleado" class="form-control" />
                <span asp-validation-for="NombreEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoEmpleado" class="control-label"></label>
                <input asp-for="CargoEmpleado" class="form-control" />
                <span asp-validation-for="CargoEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SucursalId" class="control-label"></label>
                <select asp-for="SucursalId" asp-items="Model.Sucursales" class="form-control"></select>
                <span asp-validation-for="SucursalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreEquipo" class="control-label"></label>
                <input asp-for="NombreEquipo" class="form-control" />
                <span asp-validation-for="NombreEquipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEquipo" class="control-label"></label>
                <input asp-for="TipoEquipo" class="form-control" />
                <span asp-validation-for="TipoEquipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionIP" class="control-label"></label>
                <input asp-for="DireccionIP" class="form-control" />
                <span asp-validation-for="DireccionIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsoID" class="control-label"></label>
                <select asp-for="UsoID" asp-items="Model.Usos" class="form-control"></select>
                <span asp-validation-for="UsoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialEquipo" class="control-label"></label>
                <input asp-for="SerialEquipo" class="form-control" />
                <span asp-validation-for="SerialEquipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SistemaOperativoId" class="control-label"></label>
                <select asp-for="SistemaOperativoId" asp-items="Model.SistemasOperativos" class="form-control"></select>
                <span asp-validation-for="SistemaOperativoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoId" class="control-label"></label>
                <select asp-for="EstadoId" asp-items="Model.Estados" class="form-control"></select>
                <span asp-validation-for="EstadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscoDuro" class="control-label"></label>
                <input asp-for="DiscoDuro" class="form-control" />
                <span asp-validation-for="DiscoDuro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Procesador" class="control-label"></label>
                <input asp-for="Procesador" class="form-control" />
                <span asp-validation-for="Procesador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ram" class="control-label"></label>
                <input asp-for="Ram" class="form-control" />
                <span asp-validation-for="Ram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenciaSistemaOperativoId" class="control-label"></label>
                <select asp-for="LicenciaSistemaOperativoId" asp-items="Model.LicenciasSistemasOperativos" class="form-control"></select>
                <span asp-validation-for="LicenciaSistemaOperativoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenciaOffice" class="control-label"></label>
                <input asp-for="LicenciaOffice" class="form-control" />
                <span asp-validation-for="LicenciaOffice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Antivirus" class="control-label"></label>
                <input asp-for="Antivirus" class="form-control" />
                <span asp-validation-for="Antivirus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Backup" class="control-label"></label>
                <input asp-for="Backup" class="form-control" />
                <span asp-validation-for="Backup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAdquisicion" class="control-label"></label>
                <input asp-for="FechaAdquisicion" class="form-control" />
                <span asp-validation-for="FechaAdquisicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarcaId" class="control-label"></label>
                <select asp-for="MarcaId" asp-items="Model.Marcas" class="form-control"></select>
                <span asp-validation-for="MarcaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorId" class="control-label"></label>
                <select asp-for="ColorId" asp-items="Model.Colores" class="form-control"></select>
                <span asp-validation-for="ColorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioCompra" class="control-label"></label>
                <input asp-for="PrecioCompra" class="form-control" />
                <span asp-validation-for="PrecioCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesempenoId" class="control-label"></label>
                <select asp-for="DesempenoId" asp-items="Model.Desempenos" class="form-control"></select>
                <span asp-validation-for="DesempenoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SapIP" class="control-label"></label>
                <input asp-for="SapIP" class="form-control" />
                <span asp-validation-for="SapIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SapRemoto" class="control-label"></label>
                <input asp-for="SapRemoto" class="form-control" />
                <span asp-validation-for="SapRemoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:400px;height:400px;max-width: 100%; height: auto;" />
        }
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
